:root {
  --primary: #b6895b;
  --bg: #010101;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(184, 180, 180);
  color: #fff;
}
::selection {
  background: #ff676d;
  color: #fff;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(34, 49, 52, 0.9);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.nav-header .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.nav-header .navbar-logo span {
  color: var(--primary);
}

.nav-header .navbar-items1 a {
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.nav-header .navbar-items1 a:hover {
  position: relative;
  color: var(--primary);
  transition: 0.3s ease-in-out;
}

.nav-header .navbar-items1 a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  /* border bottom digunakan untuk membuat garis yang ada pada menu  */
  transform: scale(0);
  transition: 0.3s linear;
}

.nav-header .navbar-items1 a:hover::after {
  transform: scale(1);
  /* tab ini digunakan untuk menampilkan  garis jika cursor berada pada  tab menu */
}
/* Menu Searching Start */
.nav-header .navbar-items2 {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: var(--primary);
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
/* Menu Searching End */

/* Hero Section Start */
.Banner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 40vw;
  margin-bottom: 40px;
}
.Banner::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
}
.Banner::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 200%;
  height: 110%;
  rotate: -2deg;
}
.Banner .content {
  padding: 1.4rem 5%;
  max-width: 60rem;
}
.Banner h1 {
  font-size: 3.5rem;
}
.Banner span {
  color: red;
}
.Banner p {
  font-size: 21.5px;
}
.Banner a {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
}
.Banner img {
  object-fit: cover;
}
/* Hero Section End */

/* Product Section Start */
.product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.product span {
  color: red;
}
.product-img {
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}
.product-img::before {
  content: "";
  position: absolute;
  width: 100%;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
.product-img .main-card {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card {
  margin-left: -100%;
}
/* coding untuk membuat gambar menjadi coloumn */
.product-img .main-card .cards {
  width: calc(100% / 2-10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
/* coding untuk Pemisah gambar dan menjadikan 1 block masing masing */
.main-card .cards .card {
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover {
  transform: translateY(-15px);
}
.cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  padding: 3px;
  background: var(--bg);
  margin-bottom: 14px;
}
.card .content .img img {
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name {
  font-size: 20px;
  font-weight: 500;
  color: var(--bg);
}
.card .content .price {
  font-size: 20px;
  color: var(--bg);
}
.card .content .media-icons {
  margin-top: 10px;
  display: flex;
}
.media-icons a {
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #ff676d;
  transition: all 0.3s ease;
}
.media-icons a:hover {
  color: #ff676d;
  background-color: #fff;
  border-color: #ff676d;
}
.product-img .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active {
  width: 35px;
}
#one:checked ~ .button .one {
  width: 35px;
}
#one:checked ~ .button .two {
  width: 15px;
}
#two:checked ~ .button .one {
  width: 15px;
}
#two:checked ~ .button .two {
  width: 35px;
}
input[type="radio"] {
  display: none;
}
/* Product Section End */

/* Footer Start */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .socials {
  padding: 1rem 0;
}
footer .socials a {
  margin: 1rem;
  color: #fff;
}
footer .socials a:hover {
  color: var(--primary);
}
footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 1rem 1rem;
}
footer .credits p {
  font-size: 1.2rem;
}
footer .credits a {
  color: var(--bg);
  font-weight: 700;
}
/* Footer End */

/* Responsif Start */
@media (max-width: 768px) {
  .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card {
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}
/* Responsif End */
